#about_spectra {
	padding: 70px 30px 500px 30px;
	text-align: left;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

}

h2 {
	font-weight: bold;
}

.photo_wall {
	height: 300px;
	margin-left: 0px;
}

#about_spectra {
	background-color: #DCDCDC;
}

#spectratable {
	float: right;
    width: 600px;
    margin: 0 20px 20px 20px;
}