#sco17_intro {
    padding-top: 70px;
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 30px;
    background-image: url("Images/spectra1.jpg");
    background-attachment: fixed;
    background-size: 900px 600px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    color: #DCDCDC;
}

.row {
    background-color: #DCDCDC;
    color: black;
    padding: 20px;
    padding-top: 40px;
}

h3 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 1.5em;
    font-weight: bold;
}

h1 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold;
    font-size: 4em;
}

h2 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold;
}

p {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 1.1em;
    letter-spacing: -1px;
}

#img_Amrita {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border-style: solid;
    border-width: 5px;
    border-color: #ADFF2F;
    width: 100%;
    float: right;
    width: 600px;
    margin: 20px;
}

#img_Amrita:hover {opacity: 0.7;}

#img_Asta {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border-style: solid;
    border-width: 5px;
    border-color: #008B8B;
    width: 100%;
    float: left;
    width: 600px;
    margin: 20px;
}

#img_Asta:hover {opacity: 0.7;}

#img_India {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border-style: solid;
    border-width: 5px;
    border-color: #FFD700;
    width: 100%;
    float: right;
    width: 600px;
    margin: 20px;
}

#img_India:hover {opacity: 0.7;}

#img_Sabreen {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border-style: solid;
    border-width: 5px;
    border-color: #C71585;
    width: 100%;
    float: left;
    width: 600px;
    margin: 20px;
}

#img_India:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: fixed;
    top: 45px;
    right: 45px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}