.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.jumbotron {
	padding-top: 90px;
	padding-bottom: 90px;
	min-height: 400px;
	background-image: url("Images/spectra1.jpg");
	background-size: no-repeat;
    background-attachment: fixed;
}

#intro_to_spectra {
  font-family: 'Slabo 27px', serif;
  color: rgb(210,210,210);
}

#myCarousel { 
  background-color: black;
}

.carousel-control {
  background-color: black;
}

#carousel_s {
  background-color: black;
  margin-top: 0px;
}

.navbar-inverse {
}

#about_spectra {
	padding-top: 70px;
}

.second {
	background-image: url("Images/Amrita+1.jpg");
}
.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}